/* Application Styles */

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
  font-family: 'Quicksand', sans-serif;
  font-weight:700;
  padding-top: 50px;
}

.carousel-inner .item h3, 
.carousel-inner .item h4{
  text-shadow: 1px 1px 1px #666;
}


.navbar-brand img{
  height: 35px;
  position: relative;
  top: -5px;
}


footer{
  position:fixed;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  background: #333;
  color: #f3f3f3;
  width: 100%;
  padding: 2px;
  text-align: right;
}


body >  .container{
  margin-bottom: 80px;
}



/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){

}
@media screen and (max-width: 640px){

}

.slogan{
  font-size: 34px;
  font-family: 'Quicksand'
}