
#catlist{
    border-bottom:none;
    margin:10px auto;
}
#catlist dl{
    margin:10px auto;
    border-bottom:1px solid #ccc;
    padding:10px;
    overflow:hidden;
    background:#f2f2f2;
}
#catlist dd{overflow:auto}
#catlist dt strong{
    float:right;
    padding:0 0 0 20px;
}
#catlist dt img{
    float:left;
    margin:0 10px 0 0;
    border:1px solid #000;
  width:200px;
}
